* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  /*color: #fff; */
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

