* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}
/* headings */

#company-name {
  color: #dec9e9;
  font-size: 1.5rem;
}

#intro,
#fan-fav,
#team {
  padding: 4em 0;
}

#header {
  background-color: black;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

nav ul li {
  padding-left: 1.125em;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #dec9e9;
}

nav ul li a:hover,
nav ul li a:focus {
  color: white;
}

#hero-banner {
  height: 60vh;
  background-color: blueviolet;
  background-image: url(../images/ice-cream-cones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
#intro {
  background-color: #7251b5;
}

#intro p {
  max-width: 50%;
}

#fan-fav {
  background-color: black;
  color: #dec9e9;
}

#fan-fav ol {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
}

#fan-fav li {
  width: 50%;
  padding-right: 15%;
}